$group-header-clr: rgb(87, 155, 252);

.board-group {
     display: grid;
     border-radius: 3px;
     height: fit-content;
     width: fit-content;
     margin-block-end: 50px;
     .add-item {
          background-color: inherit;
          margin-inline-start: 18px;
          text-align: start;
          font: inherit;
          padding: 0;
          outline: none;
          border-radius: 0.3em;
          width: 275px;
          &:hover {
               box-shadow: 0px 0px 0px 0.5px #d0d4e4;
          }
     }

     .menu-btn-container-wrapper {
          position: relative;
     }

     .menu-btn-container {
          position: absolute;
          top: 0;
          left: -35px;
          opacity: 0;
          @include flex-center;
          width: 20px;
          height: 20px;
          border-radius: 0.3em;
          cursor: pointer;

          &:hover {
               background-color: $color-highlighted;
               color: black;
          }

          .menu-btn {
               color: $color-txt-primary;
               border: none;
          }
     }

     .task-checkbox {
          width: 16px;
          height: 16px;
          color: black;
     }

     .group-header {
          color: $group-header-clr;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: start;
          position: relative;
          &:hover .menu-btn-container {
               opacity: 1;
          }
     }

     .task-header {
          display: grid;
          grid-template-columns: 33px 367px repeat(6, $group-column-width);
          position: relative;

          .group-preview-color {
               position: absolute;
               top: 0;
               left: -6px;
               width: 6px;
               height: 100%;
               background-color: $group-header-clr;
               border-top-left-radius: 5px;
          }

          section:nth-child(2) {
               border: 1px solid $color-divider;
          }

          section {
               height: $group-row-height;
               width: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               .task {
                    cursor: grab;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    border-block-start: 1px solid $color-divider;
                    border-inline-end: 1px solid $color-divider;
                    border-block-end: 1px solid $color-divider;
                    &:not(.status, .priority):hover {
                         background-color: $color-highlighted;
                    }
               }
          }
     }
}