.board-filter {
	display: flex;
	position: relative;
	padding: 1rem 0;
	color: $clr-divider;
	font-family: Figtree-reg;
	min-width: 520px;

	> * {
		display: flex;
		align-items: center;
		justify-content: center;

		button {
			background-color: transparent;
			padding: 0;
			padding-right: 10px;
			font-size: rem(14px);
			color: $clr-divider;
			cursor: pointer;
		}

		svg {
			fill: $clr-divider;
			color: $clr-divider;
		}

		&:not(.regular-modal) {
			&:hover {
				background-color: $color-btn-hover;
				border-radius: 4px;
			}
		}
	}

	.add-new-btns {
		background-color: $primary-blue;
		cursor: pointer;
		margin-right: 16px;
		border-radius: 4px;
		width: 106px;

		button {
			color: white;
			padding: 0;
			height: 100%;
			width: 62px;
			border-radius: 0.2em;

			&:hover {
				background-color: (darken($primary-blue, 8%));
			}
		}

		.add-new-group-btn {
			height: 100%;
			border-top-right-radius: 0.2em;
			border-bottom-right-radius: 0.2em;
			width: 28px;
			border-left: 1px solid (darken($primary-blue, 8%));

			&:hover {
				background-color: (darken($primary-blue, 8%));
			}
		}

		svg {
			fill: white;
			width: 20px;
			align-self: center;
			justify-self: center;
			padding-top: 6px;
		}

		&:hover {
			background-color: ($primary-blue);
		}
	}

	.search-tasks {
		position: relative;
		cursor: pointer;
		margin-right: 10px;

		&.input-open {
			outline: 1px solid $primary-blue;
			border-radius: 0.1em;
		}

		&.filtering {
			background-color: $color-highlight_blue;
		}
		&.selected {
			background-color: $color-btn-active;
			border-radius: 4px;
		}

		input {
			border: none;
			&::placeholder {
				color: $color-txt-primary;
			}

			background-color: transparent;
			width: 60px;
			transition: width 0.4s;
			height: 100%;
			cursor: pointer;
			outline: none;

			&.open {
				width: 190px;
				cursor: text;
			}
		}

		svg {
			margin-left: 5px;
		}
	}

	.person-attach {
		position: relative;
		margin-right: 0;
		padding-right: 6px;
		padding-left: 6px;

		.title-modal {
			width: 135px;
		}

		&.selected {
			background-color: $color-btn-active;
			border-radius: 4px;
			padding-right: 20px;
		}
		button {
			padding: 0;
		}

		.svg-small {
			width: 11px;
			height: 11px;
			position: absolute;
			top: 10px;
			right: 6px;
		}

		cursor: pointer;

		svg {
			margin-left: 0;
			width: 20px;
		}

		img {
			width: 24px;
			height: 24px;
			border-radius: 50%;
		}
	}

	.filter {
		cursor: pointer;
		gap: 0.2rem;
		padding-left: 10px;
		button {
			padding-left: 2px;
		}
		&.selected {
			background-color: $color-btn-active;
			border-radius: 4px;
		}
	}

	.sort {
		cursor: pointer;
	}

	.search-tasks {
		position: relative;
		cursor: pointer;

		&.input-open {
			outline: 1px solid $primary-blue;
		}

		&.filtering {
			background-color: $color-highlight_blue;
		}

		.cancel {
			position: absolute;
			right: 8px;

			svg {
				fill: $primary-blue;
				scale: 0.8;
			}
		}

		input {
			&::placeholder {
				color: $color-txt-primary;
			}

			background-color: transparent;
			width: 60px;
			transition: width 0.4s;
			height: 100%;
			cursor: pointer;

			&.open {
				width: 190px;
				cursor: text;
			}
		}

		.svg-small {
			width: 11px;
			height: 11px;
			position: absolute;
			top: 5px;
			right: 3px;
		}
	}

	@include for-mobile-layout {
		display: grid;
		gap: 0.5rem 0;
		grid-template-columns: repeat(3, auto);
		justify-content: flex-start;
		background-color: white;

		.search-tasks {
			grid-column: 1 /-1;
			grid-row: 1;
			width: fit-content;
			height: 1.5rem;
		}

		.add-new-btns {
			grid-row: 2;
			grid-column: 1;
		}

		.person-attach {
			grid-row: 2;
			grid-column: 2;
		}

		.filter {
			grid-row: 2;
			grid-column: 3;
		}
	}
}
