
$input-padding-board-details: 4px;

.smooth-dnd-container.vertical>.smooth-dnd-draggable-wrapper {
     overflow: visible;
}

.board-details {
     .add-group-btn {
          position: sticky;
          left: 41px;
          margin-inline-start: 41px;
          height: 32px;
          width: 141px;
          line-height: 22px;
          border: 1px solid;
          border-color: #c3c6d4;
          padding: 4px 8px;
          border-radius: 4px;
          @include flex-center;
          cursor: pointer;
          background: rgba($color: #000000, $alpha: 0);
          &:hover {
               background-color: #dcdfec;
          }
          .add-new-group-plus {
               color: #c3c6d4;
               height: 20px;
               font-size: 20px;
               padding-inline-end: 8px;
          }
     }
     .task-title,
     .text {
          @include flex-center;
     }

     .board-input {
          font: inherit;
          color: inherit;
          border: inherit;
          border-radius: 0.25em;
          outline: none;
          text-overflow: ellipsis;
          padding-inline-start: $input-padding-board-details;
          padding-inline-end: $input-padding-board-details;

          &:hover {
               box-shadow: 0px 0px 0px 0.5px $color-divider;
          }
          
          &:focus {
               background-color: white;
               box-shadow: 0px 0px 0px 0.5px $group-header-clr !important;
          }
          &.add-task-input {
               height: 22.4px;
               align-self: center;
               background-color: inherit;
               margin-inline-start: 10px;
               text-align: start;
               font: inherit;
               border: none;
               border-radius: 0.3em;
               width: 338px;
               &:hover {
                    box-shadow: 0px 0px 0px 0.5px black;
               }
          }
     }

     input:not(:focus) {
          background-color: inherit;
     }

     input[type="checkbox"] {
          outline: none;
     }
}