.board-header-container {
	display: grid;
	padding-right: 30px;
	padding-left: 40px;
	padding-top: 16px;

	div {
		display: flex;
		align-items: center;
		gap: 0.25rem;

		svg.selected {
			fill: #ffcb00;
			color: #ffcb00;
		}
	}

	.board-header {
		color: $color-txt-primary;
		font-family: pop-medium;
		.top-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 42px;

			.board-title-left-container {
				display: flex;
				gap: 1.25rem;
				.board-title {
					font-size: rem(23px);
					display: flex;
					justify-content: flex-start;
					align-items: center;
					position: relative;
					padding: 0.5rem;
					border-radius: 0.1em;
					transition: padding 0.4s;
					height: 100%;
					text-align: start;
					margin: 0;
					font-family: Figtree-reg;
					text-overflow: ellipsis;
					line-height: rem(42px);
					letter-spacing: -0.2;
					margin-left: -6px;
					font-size: rem(27px);
					font-weight: 500;

					&:hover {
						outline: 1px solid $brdr-clr;
					}

					&:focus {
						outline: 1px solid $primary-blue;
					}

					&.editing {
						width: 50vw;
						text-align: start;
						// padding-right: 200px;
					}
				}
			}

			.board-title-right-container {
				display: flex;
				align-items: center;
				gap: 8px;

				.last-seen {
					img {
						height: 24px;
						width: 24px;
						// display: none;
						margin-left: 4px;
					}
				}

				div {
					font-size: rem(14px);
					padding: 4px 8px;
					display: flex;
					align-items: center;
					border-radius: 4px;

					span {
						margin-right: 4px;
					}
				}

				.invite {
					position: relative;
					cursor: pointer;
					border: 1px solid $brdr-clr;

					a {
						visibility: hiden;
						position: absolute;
						top: 0;
						height: 28px;
						width: 73.71px;
					}
				}
			}
		}

		span {
			cursor: pointer;
		}

		.add-views {
			display: flex;
			align-items: flex-start;
			border-bottom: 1px solid $brdr-clr;
			margin-top: 12px;
			color: $color-txt-primary;
			font-family: Figtree-reg;

			& > :first-child :first-child :first-child {
				padding-left: 0;
			}

			svg {
				width: 16px;
				padding-bottom: 2px;
				margin-left: 8px;
			}

			.separator {
				border-left: 1px solid $brdr-clr;
				height: 20px;
				margin-top: 10px;
			}

			.view-item {
				display: flex;
				align-items: center;
				background-color: transparent;
				margin: 0;
				gap: rem(2px);
				padding-bottom: 10px;
				padding: 10px;
				gap: 0.6rem;
				height: rem(36px);
				padding: 0;
				// padding-right: 14px;
				// padding-left: 14px;

				// width: 110px;

				&.selected {
					box-shadow: inset 0px -2px 0px 0px #0373ea;
				}
				.content {
					padding-right: 14px;
					padding-left: 14px;
				}
				.content:hover {
					width: 100%;
					background-color: $color-btn-hover;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
					height: rem(30px);
				}

				// &:hover {
				// 	background-color: $color-btn-hover;
				// 	border-radius: 4px;
				// }
			}

			a {
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}

			.view-title {
				padding: 0;
				margin: 0;
				font-size: rem(14px);
				color: var(--primary-text-color);
			}
		}
	}

	// @include for-mobile-layout {
	padding-left: 8px;
	padding-right: 8px;
	display: flex;

	.header {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		width: 100%;

		.top-header {
			flex-basis: 100%;
			position: relative;
			justify-content: center;
			margin-bottom: 18px;

			.board-title {
				&.editing {
					padding-right: 8px;
				}
			}

			.board-title-right-container {
				display: none;
			}

			a {
				position: absolute;
				left: -16px;
				display: block !important;
			}
		}

		.add-views {
			display: none;
		}

		.add-views-mobile {
			z-index: 50000;
			display: flex !important;
			align-items: center;
			position: relative;
			box-sizing: content-box;
			flex-basis: 35%;
			height: 40px;

			background-color: lighten(
				$brdr-clr,
				6%
			); // necessary for overlaying hover bg-color of selected option
			border-radius: 4px;

			select {
				background-color: lighten(
					$brdr-clr,
					6%
				); // necessary for overlaying hover bg-color of selected option
				font-size: rem(14px);
				font-family: Figtree-reg;
				padding-left: 12px;
				border: none;
				outline: none;
				-webkit-border-radius: 4px;
				-webkit-appearance: none;
				width: 100%;
				flex-basis: 100%;

				&:active {
					outline: none;
				}

				&:focus {
					outline: none;
				}

				&:focus-visible {
					outline: none;
				}
			}

			.select-arrow {
				display: flex !important;
				position: absolute;
				right: 6px;
				z-index: 50001;
				pointer-events: none;
			}
		}

		.board-filter {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			height: 40px;
			margin-left: 8px;
			flex-grow: 1;
			gap: 10px;

			.filter {
				margin: 0;
				padding-right: 16px;
				padding-left: 8px;
				flex-basis: 30%;
				background-color: lighten($brdr-clr, 6%);
				height: 100%;
				border-radius: 0;
				border-radius: 4px;

				button {
					padding: 0;
				}
			}

			.search-tasks {
				order: 1;
				right: 0px;
				background-color: lighten($brdr-clr, 6%);
				margin: 0;
				width: 40px;
				height: 40px;
				border-radius: 0px;
				transition: 0.4s;
				border-radius: 4px;

				span {
					position: relative;
					right: 3px;
					scale: 0.8;
				}

				.search-input {
					display: none;
				}

				&.input-open {
					flex-grow: 1;
				}

				.search-input-mobile {
					&.open {
						width: 100%;
						display: block !important;
					}
				}
			}
		}
	}
	// }
}
