$group-column-width: 140px;
$group-row-height: 36px;
@mixin board-columns() {
     grid-template-columns: 33px 360px repeat(auto-fit, $group-column-width);
}
.board-details {
     // display: grid;
     // @include board-columns;
     .task-title, .text {
          @include flex-center;
     }
     input {
          font: inherit;
          color: inherit;
          border: none;
          border-radius: 0.25em;
          outline: none;
          &:hover,&:focus {
               border: 1px solid $color-divider;
          }
          &:focus {
               background-color: white;
          }
     }
     input:not(:focus) {
          background-color: inherit;
     }
}