.boards {
  font-size: 14px;
  width: 100%;
  flex-grow: 1;
  position: relative;
  padding-inline-start: em(12px);
  padding-inline-end: em(8px);
  margin: 0;
  &:first-child {
    padding-top: 16px;
  }
  .board-link {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-inline: 0px 11px;
    &:focus-within,
    &.rename {
      margin-inline-end: 0;
      padding-inline-end: 0;
    }
    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    input {
      width: 183px;
      height: 23px;
      border: 1px solid;
      border-color: $primary-blue;
      &:focus {
        outline: $primary-blue;
      }
    }
    .board-svg {
      margin-inline-start: 4px;
    }
    .modal {
      transition: 0.1s;
      width: em(264px);
      top: 23px;
      left: 200px;
    }
    .modal-container {
      margin-inline: 8px;
      &:hover {
        background-color: $color-btn-hover;
        border-radius: 4px;
      }
      &:first-child {
        margin-block-start: 8px;
      }
      &:last-child {
        margin-block-end: 8px;
      }
      .wrapper {
        width: em(49px);
        display: flex;
        align-items: center;
        padding: 0 8px;
        width: em(235px);
        color: $clr-divider;
        span {
          color: $color-txt-primary;
        }
      }
    }
    span {
      font-size: 14px;
      padding: 4.81px;
      margin: 0 2px;
    }
    &:not(.selected-board):hover {
      background-color: $color-btn-hover;
      border-radius: 4px;
      .small-menu {
        opacity: 1;
      }
    }
    &.selected-board:hover {
      .small-menu {
        opacity: 1;
        &:hover {
          background-color: $color-btn-hover;
          border-radius: 4px;
        }
      }
    }

    .small-menu {
      opacity: 0;
      margin-inline-start: auto;
    }
  }
}
span {
  &.workspace-title {
    color: $clr-divider;
    justify-content: space-between;
    // padding-block-end: 4px;
    padding: 0 5px 7px 0;
  }
}
button {
  color: $color-txt-primary;
}

.selected-board {
  background-color: $color-highlight_blue;
  border-radius: 4px;
}
