.dragged-element {
     rotate: 1.5deg !important;
}

.drop-preview {
     border: 1px dashed $color-divider;
     z-index: 1;
}
.board-group .task-preview .task.task-sticky,
.task-title-group.task-sticky.task-container {
     position: sticky;
     @include for-normal-layout {
          left: 45px;
     }
     z-index: 1;
     &:focus-within::before {
          background-color: $color-focused-within;
          box-shadow: inset 0 0 0 1px $group-header-clr;
     }
}
.group-header-container {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100%;
     background-color: #fff;
}
.board-group {
     margin-inline-start: 47px;
     display: grid;
     border-radius: 3px;
     height: fit-content;
     width: fit-content;
     margin-block-end: 50px;
     .arrow {
          outline: none;
          cursor: pointer;
          margin-inline-start: 4px;
          margin-inline-end: 4px;
          height: 22px;
          width: 22px;
          transform: rotate(90deg);
     }
     .menu-btn-wrapper {
          position: absolute;
          top: -10px;
          left: -35px;
          width: 36px;
          height: 46px;
          background-color: #fff;
          z-index: 3;
          // position: relative;
     }
     .menu-btn-wrapper-task {
          position: absolute;
          top: 0px;
          height: 38px;
          left: -48px;
           width: 42px;
          background-color: #fff;
          // z-index: 3;
          // position: relative;
     }
          .add-task .menu-btn-wrapper-task {
               height: 44px;
          }
     .menu-btn-container {
          position: absolute;
          top: 10px;
          left: 0px;
          opacity: 0;
          @include flex-center;
          width: 20px;
          height: 20px;
          border-radius: 0.3em;
          cursor: pointer;

          &:hover {
               background-color: $color-highlighted;
               color: black;
          }

          .menu-btn {
               color: $color-txt-primary;
               border: none;
          }
     }
     .task-checkbox {
          width: 16px;
          height: 16px;
          color: black;
     }
     .group-header-container {
          padding-block-start: 10px;
          height: 46px;
          width: 1240px;
          z-index: 4;
          position: sticky;
          @include for-normal-layout {
               top: 150px;
          }
     }
     .group-header {
          z-index: 3;
          position: sticky;
          @include for-normal-layout {
               left: 45px;
          }
          width: fit-content;
          background-color: #fff;
          color: $group-header-clr;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: start;
          text-overflow: ellipsis;
          .group-title-input {
               margin-inline-start: 1.5px;
               width: fit-content;
               max-width: 331px;
               &:focus {
                    margin-inline-start: 0px;
                    padding-inline-start: calc(30px + $input-padding-board-details);
                    width: 500px;
                    box-shadow: 0px 0px 0px 0.5px $group-header-clr;
               }
          }
          &:hover .menu-btn-container {
               opacity: 1;
          }
          .task-count {
               padding-inline-start: 6px;
               opacity: 0;
               @include flex-center;
               font-family: ROBOTO-reg;
               font-size: 14px;
               color: $color-txt-primary;
               transition: opacity 0.2s ease-in-out;
          }
          &:hover .task-count {
               opacity: 1;
          }
          .color-circle {
               top:1px;
               left:28px;
               position: absolute;
               width: 21px;
               height: 21px;
               border-radius: 50%;
               margin-inline-start: 10px;
               cursor: pointer;
               &:hover {
                    opacity: 0.65;
               }
          }
     }
     .progress-bar {
          padding-inline-start: 399px;
          @include flex-center;
          z-index: 2;
          background-color: white;
          .progress-column:first-child {
               border-end-start-radius: 7px;
               border-inline-start: 1px solid $color-divider;
          }
          .progress-column:last-child {
               border-inline-end: 1px solid $color-divider;
               border-end-end-radius: 7px;
               width: 141px;
          }
          .progress-column:not(:last-child) {
               border-inline-end: 1px solid $color-divider;
          }
          .progress-column {
               box-shadow: $small-shadow;
               padding-inline-start: 1px;
               border-block-end: 1px solid $color-divider;
               width: $group-column-width;
               height: $group-row-height;
               @include flex-center;
               .progress-bar-segment {
                    height: 24px;
                    &:hover {
                         height:32px;
                         border-radius: 3px;
                    }
               }
               // border: 1px solid $color-divider;
          }
          position: relative;
     }
     .task-checkbox-container {
          @include flex-center;
          width: 38px;
          border-inline-start: 1px solid $color-divider;
          border-inline-end: 1px solid $color-divider;
          width: 100%;
          height: 100%;
     }
     .task-header {
          z-index: 3;
          position: sticky;
          @include for-normal-layout {
               top: 196px;
          }
          background-color: #fff;
          display: grid;
          grid-template-columns: $table-grids;
          .group-preview-color {
               position: absolute;
               top: 0;
               left: -6px;
               width: 6px;
               height: 100%;
               background-color: $group-header-clr;
               border-top-left-radius: 5px;
               &::before {
                    content: '';
                    top:0;
                    left:0;
                    height: 36px;
                    width: 6px;
                    background-color: #fff;
                    z-index: -1;
                    position: absolute;
                    display: block;
               }
          }
          // section:nth-child(2) {
          //      border: 1px solid $color-divider;
          // }
          .task-container {
               height: $group-row-height;
               width: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               .task {
                    cursor: grab;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    border-block-start: 1px solid $color-divider;
                    border-inline-end: 1px solid $color-divider;
                    border-block-end: 1px solid $color-divider;
                    &:hover {
                         background-color: $color-highlighted;
                    }
               }
          }
          .task-title-group.task-sticky .task {
               display: grid;
               grid-template-columns: 32.5px 1fr;
               background-color: #fff;
          }
     }
}