.dashboard {
     background-color: lightgray;
     display: grid;
     grid-auto-flow: row;
     user-select: none;
     .dashboard-card {
          display: grid;
          width: fit-content;
          // max-height: 500px;
          background-color: #fff;
          border-radius: 20px;
          border: 1px solid $color-divider;
          margin: 10px;
          .dashboard-card-header {
               height: 50px;
               padding: 8px;
               @include flex-center;
               border-block-end: 1px solid $color-divider;
          }
          .dashboard-chart {
               padding: 20px;
          }
     }
}