.spacer {
  border-bottom: 1px solid;
  border-color: $layout-border-color;
  margin: 0 20px;
}

// &:hover svg{
//   &::before {
//     content: '';
//     padding-left: 6px;
//   }

//   &::after {
//     padding-right: 6px;
//     content: '';
//   }
// }

.folding-bar {
  color: $color-txt-primary;
  width: 255px;
  background-color: $color-riverstone_gray;
  font-family: ROBOTO-reg;
  position: relative;
  transition: 100ms ease;
  z-index: 10;

  &:not(.folded) .slide-btn:hover {
    &::after {
      content: '';
      padding-left: 11px;
    }
  }

  .slide-in {
    animation: slide-in 0.5s ease forwards;
  }

  // width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  // border-bottom: 1px solid #e1e1e1;
  border-bottom: none;
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 0;

  .workspace {
    margin: 16px 16px 16px 14px;
    box-shadow: 0px 12px 13px -7px var(--dark-background-color);
    font-size: 14px;
    .main-workspace-title {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 5.3px 6px;
      border-radius: 4px;
      margin-right: 4px;
      border: 1px solid;
      border-color: $clr-divider;
      font-size: 16px;
      margin-block-end: em(20px);
      font-family: Figtree600;
      .title {
        padding: 0 2px;
      }
      img {
        width: 24px;
      }
    }
    .btns {
      input {
        border: none;
        width: 100%;
        background-color: transparent;
        outline: 1px $primary-blue;
        padding-inline-start: 8px;
        flex: 1;

        &::placeholder {
          color: $color-txt-primary;
        }
      }
      .searching button {
        &:focus-within {
          outline: 1px solid $primary-blue;
        }
      }
      button {
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        background-color: transparent;
        margin: 0;
        // line-height: em(26.7px);
        .optn {
          margin: 0 8px;
        }
        &:hover {
          background-color: $color-btn-hover;
        }
      }
    }
  }
}

.slide-btn {
  border: 1px solid;
  border-color: $brdr-clr;
  background-color: $color-snow_white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  border-radius: 20px;
  padding: 5px 7px 5px 5px;
  top: 20px;
  right: -14px;
  transition: 100ms ease;

  &:hover {
    background-color: $primary-blue;
    border-color: $primary-blue;
    color: $color-snow_white;
  }
  svg:focus {
    outline: none;
  }
}

// .folding-bar:not(.folded) .slide-btn:hover {
//   padding-left: 16px;
// }

.folded {
  width: 30px;
  box-shadow: 0px 12px 13px -7px $color-riverstone_gray;
  z-index: 6;
  border-right: 1px solid;
  border-color: $layout-border-color;
  position: relative;

  & > *:not(.slide-btn, .triangle) {
    opacity: 0;
  }
  .svg-icon {
    transform: rotate(-180deg);
  }
  .slide-out {
    animation: slide-out 0.5s ease forwards;
  }
  .slide-btn:hover {
    padding-right: 5px;
    padding-left: 16px;
    left: calc(100% - 14px);
    right: unset;
  }
}

.folding-bar.hoverOpen {
  position: absolute !important;
  top: 0;
  left: 66px;
  height: 100%;
  transition: 0.3s;
  color: $color-txt-primary;
  width: 255px;
  background-color: $color-riverstone_gray;
  font-family: ROBOTO-reg;
  position: relative;
  transition: 100ms ease;
  z-index: 10;
}

// Animations
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-100%);
  }
}
