
.kanban {
     margin-top: 25px;
     height: 100%;
     padding: 4px 8px 16px 12px;
     background: #f6f7fb;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     transition: background .2s ease,
     box-shadow .2s ease;
     .kanban-column {
          
     }
}