.kanban-wrapper {
  height: calc(100% - 176px);
  width: 100%;
  display: flex;
  border-block-start: 1px solid #c3c6d4;
  margin-block-start: 25px;
}
.kanban {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  margin-inline-start: 37px;
  padding: 8px 8px 16px 12px;
  background: #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: background 0.2s ease, box-shadow 0.2s ease;
  .slash {
    margin-inline-start: 4px;
    margin-inline-end: 4px;
  }
  .kanban-column {
    margin-inline-end: 10px;
    .header-wrapper {
      color: #fff;
      padding: 0px 8px;
      display: flex;
      align-items: center;
      font-family: Figtree-reg;
      height: 40px;
      font-size: 16px;
      width: 260px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .card {
      cursor: grab;
      display: grid;
      gap: 10px;
      overflow-y: auto;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      transition: background 0.2s ease, box-shadow 0.2s ease;
      max-height: calc(100vh - 245px);
      // max-height: calc(100vh - 176px);
      width: 260px;
      margin: 0;
      padding: 4px 8px 16px 12px;
      background: #f6f7fb;
      .card-title-container {
        width: 163px;
        .elipsis {
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      .card-preview {
        // padding-inline-start: 8px;
        background-color: #fff;
        border-radius: 4px;
        position: relative;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        font-size: 13px;
        width: 100%;
        height: max-content;
      }
      .cmp-title {
        display: grid;
        height: 36px;
        grid-template-columns: 126px 48px;
        align-content: center;
        justify-content: space-between;
        padding: 0px 8px;
        margin-block-end: 8px;
        .card-title-container {
          display: flex;
          align-items: center;
        }
        .cmp-buttons {
          display: flex;
          height: 36px;
          overflow: hidden;
          @include flex-center;
          .menu-btn {
            margin-inline-start: 4px;
            color: rgb(103,104,121);
            cursor: pointer;
            &:hover {
              background-color: #dcdfec;
              border-radius: 4px;
            }
          }
          div, a {
            // height: 24px;
            @include flex-center;
          }
        }
      }
      .cmp-preview {
        display: grid;
        height: 36px;
        grid-template-columns: 34px 140px;
        align-content: center;
        justify-content: space-between;
        padding: 0px 8px;
        margin-block-end: 8px;
        // &:not(:last-child) {
        //      }
        .card-title {
          display: flex;
          align-items: center;
          justify-content: start;
          height: 100%;
          width: 72px;
          text-overflow: ellipsis;
          margin-inline-end: 8px;
          color: rgb(103,104,121);
          svg {
            margin-inline-end: 4px;
          }
        }
        .card-cmp {
          height: 34px;
          width: 100%;
          @include flex-center;
          background-color: #f5f6f8;
          .timeline-progress {
            margin-block-start: 7px;
          }
          & > * {
            @include flex-center;
            height: 34px;
            width: 100%;
            &:is(.priority, .status) {
              color: #fff;
            }
            &:is(
                .priority,
                .status,
                .profile-div,
                .label,
                .start-end-date-container
              ) {
              cursor: pointer;
            }
          }
          &:hover {
            background-color: #e6e9ef;
          }
        }
      }
      &:hover {
        background-color: #dcdfec;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
    .card::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }
    .card::-webkit-scrollbar-track {
      background-color: transparent;
      opacity: 0;
    }
    .card::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 10px;
      transition: opacity 0.35s ease;
    }
    .card:hover::-webkit-scrollbar-thumb {
      background-color: #c3c6d4;
      opacity: 1;
    }
  }
  .profile-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-div img,
  .profile-div svg {
    margin-inline-end: -6px;
  }
  .board-input {
    font: inherit;
    color: inherit;
    border: inherit;
    border-radius: 0.25em;
    outline: none;
    text-overflow: ellipsis;
    padding-inline-start: $input-padding-board-details;
    padding-inline-end: $input-padding-board-details;

    background-color: inherit;
    &:hover {
      box-shadow: 0px 0px 0px 0.5px $color-divider;
    }

    &:focus {
      background-color: white;
      box-shadow: 0px 0px 0px 0.5px $group-header-clr !important;
    }
  }
  .checkbox {
    height: 16px;
  }
    .update,
    .add-update {
      width: 24px;
      height: 24px;
      cursor: pointer;
      font-size: 24px;
    }
  
    .add-update {
      color: $color-empty-label;
      &:hover {
        color: #0073ea;
      }
    }
      .update {
        position: relative;
        color: #0073ea;
      }
  
      .update-num {
        color: #fff;
        background-color: #0073ea;
        position: absolute;
        top: 18px;
        right: 30px;
        width: 12px;
        height: 12px;
        font-size: 10px;
        border-radius: 50%;
        @include flex-center;
      }
}
.kanban-options {
  // width: 270px;
  width: 380px;
  height: 100%;
  padding: 16px 16px 100px;
  border-inline-start: 2px solid #c3c6d4;
  // overflow-y: auto;
  .custom-view {
    margin-bottom: em(16px);
    color: #676879;
    font-family: Figtree-300;
  }
  .kanban-col {
    margin-bottom: 8px;
  }
  .select-container {
    width: 235px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #c3c6d4;
    margin-bottom: em(16px);
    display: flex;
    align-items: center;

    select {
     border: none;
     width: 95%;
     outline: none;
     padding-inline: 5%;
    }
  }
  .card-cols {
    margin-block-end: 8px;
  }
  .cmp-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .cmp {
      display: flex;
      align-items: center;
      gap: 8px;
      input{
          width: 14px;
          height: 14px;
      }
    }
  }
}

.kanban::-webkit-scrollbar-track {
  background-color: transparent;
  opacity: 0;
}

.kanban::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: transparent;
}

.kanban::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c3c6d4;
}
