.sidebar {
    background-color: $clr-small-side-bar;
    img {
      height: 40px;
      width: 40px;
      margin: 0 0 8px;
    }
    button{
      background-color: $clr-small-side-bar;
    }
    .svg-icon{
        width: 23px;
        height: 23px;
      &.InstalledProducts{
      color: #6C6CFF;
  
      }
    }
  }
  