.divider {
  margin: 0 8px;
  height: 1px;
  width: 50px;
  background-color: $clr-divider;
  margin-bottom: 12px;
  @include for-mobile-layout {
    display: none;
  }
}
.side-bars {
  display: flex;
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-normal-layout {
      height: 100%;
      width: 66px;
    }

    background-color: $clr-small-side-bar;
    position: relative;
    @include for-mobile-layout {
      width: 100vw;
      height: 66px;
      position: absolute;
      bottom: 0;
      align-items: center;
      justify-content: space-around;
      z-index: 11;
      padding-inline: 15px 20px;
    flex-direction: row;

    }

    .modal {
      left: 66px;
      z-index: 11;
      bottom: 1%;
      width: 220px;
      // height: 40px;
      justify-content: center;
      padding: 8px;
      .wrapper {
        display: flex;
        align-items: center;
        gap: 2px;
        padding: 4px 16px;
        line-height: 24px;
        border-radius: 4px;
        &:hover {
          background-color: $color-btn-hover;
        }
      }
    }

    .logo-img {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mid-icons {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding-right: 6px;
      &:not(:first-child)button {
        color: rgba(205, 208, 224, 0.38);
      }
      .inside-icons {
        flex-grow: 1;

        .svg-wrapper {
          margin-inline: auto;
          position: relative;
          .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 6px 8px 0;
            position: absolute;
            transition: opacity 0.1s ease-in-out;
            opacity: 0;
            border-color: transparent $color-riverstone_gray transparent
              transparent;
            opacity: 1;
            height: 16px;
            width: 6px;
            right: -18px;
            @include for-mobile-layout {
              display: none;
            }
          }
        }
        a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;

          &.desktop-table-btn,&.mobile-table-btn {
            width: 40px;
            height: 40px;
            position: absolute;
          }
          @include for-mobile-layout {
            &.desktop-table-btn {
              opacity: 0;
              pointer-events: none;
              user-select: none;
            }
          }
          @include for-narrow-layout {
            &.mobile-table-btn {
              
              opacity: 0;
              pointer-events: none;
              user-select: none;
            }
          }
        }
        .selected {
          background-color: rgba(255, 255, 255, 0.2);
          height: 36px;
          width: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          position: relative;
          cursor: pointer;
          outline: none;
        }
      }
    }
    img {
      height: 40px;
      width: 40px;
      margin: 0 0 8px;
      margin-inline: auto;
      margin-top: 8px;
      @include for-mobile-layout {
        margin: 0;
      }
      &.profile {
        height: 44px;
        width: 44px;
        border: 2px solid $color-snow_white;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    button {
      background-color: $clr-small-side-bar;
      cursor: not-allowed;
      color: $color-snow_white;
      @include for-mobile-layout {
        display: none;
      }
    }
    .svg-icon {
      &.InstalledProducts {
        color: $side-bar-svg-purple;
      }
    }
  }
}
.mobile-folding-bar {

  @include for-narrow-layout {
    display: none;
  }
}
.desktop-folding-bar {

  @include for-mobile-layout {
    display: none;
  }
}