$lighten-priority-amount: 15%;
$lighten-status-amount: 7.5%;
.task-preview {
     display: grid;
     grid-template-columns: 33px 367px repeat(6, $group-column-width);
     position: relative;
          &:before {
               content: '';
               position: absolute;
               top: 0;
               left: -6px;
               width: 6px;
               height: 100%;
               background-color: $group-header-clr;
          }
          &.last-task {
               &:before {
                    border-bottom-left-radius: 5px;
               }
          }
     &:hover {
          background-color: $color-highlighted;
     }
     .task:not(:first-of-type,:nth-of-type(2)) {
          width: $group-column-width;
     }
     .task:first-of-type {
          width: 33px;
     }
     .task:nth-of-type(2) {
          width: 367px;
          input {
               width: 350px;
               font: inherit;
               color: inherit;
          }
     }
     .task {
          cursor: pointer;
          border: 1px solid $color-divider;
          height: $group-row-height;
          // width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .profile-div {
               display: flex;
               justify-content: center;
               align-items: center;
          }
          & div img{
               margin-inline-end: -5px;
          }
          & .status,
          & .priority {
               padding: 10px;
               width: 100%;
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               color: white;
          }
          & .priority {
               background-color: $color-empty-label;
               &.Critical{
                    background-color: $color-critical;
               }
               &.High{
                    background-color: $color-high;
               }
               &.Medium{
                    background-color: $color-medium;
               }
               &.Low{
                    background-color: $color-low;
               }
          }
          & .status {
               &.empty {
                    background-color: $color-empty-label;
               }
               &.working {
                    background-color: $color-working-on-it;
               }
               &.stuck {
                    background-color: $color-stuck;
               }
               &.done {
                    background-color: $color-done;
               }
          }
     }
          &:hover .task .priority, &:hover .task .status.empty {
               background-color: lighten($color-empty-label, $lighten-status-amount);
          }
          &:hover .task .priority.Critical {
               background-color: lighten($color-critical, $lighten-priority-amount);
          }
          &:hover .task .priority.High {
               background-color: lighten($color-high, $lighten-priority-amount);
          }
          &:hover .task .priority.Medium {
               background-color: lighten($color-medium, $lighten-priority-amount);
          }
          &:hover .task .priority.Low {
               background-color: lighten($color-low, $lighten-priority-amount);
          }
          &:hover .task .status.working {
               background-color: lighten($color-working-on-it, $lighten-status-amount);
          }
          &:hover .task .status.stuck {
               background-color: lighten($color-stuck, $lighten-status-amount);
          }
          &:hover .task .status.done {
               background-color: lighten($color-done, $lighten-status-amount);
          }
     // .task:not(.status,.priority) {
     //      padding: 10px;
     // }
}
.task-preview:last-of-type {
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}