* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
}


section, main, footer {
    // padding: 5px;
}

// img {
//     width: 100%;
// }

p {
    margin: 0 0 1em;
    max-width: 40ch;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.monday-style-divider {
    background-color: #e6e9ef;
    background-color: var(--layout-border-color);
}
.monday-style-divider--horizontal {
    height: 1px;
    width: 100%;
    margin: var(--spacing-small) 0;
}
.surface-control-component .surface-control-primary .surface-divider.bottom {
    margin-bottom: 12px;
}

