* {
	box-sizing: border-box;
}

html {
	// font-family: montserrat;
	line-height: 1.6;
}

body {
	color: $color-txt-primary;
	font-size: rem(14px);
	margin: 0;
	padding: 0;
	font-family: Figtree-reg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-family: caveat;
	margin: 0 0 0.6em;
	line-height: 1;
}

p {
	margin: 0 0 1em;
	max-width: 40ch;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.profile-picture {
	border-radius: 50%;
	object-fit: cover;
	width: 30px;
    height: 30px;
	border: 2px solid #f5f6f8;
}


.container::-webkit-scrollbar-track {
	background-color: #f5f5f5;
}

.container::-webkit-scrollbar {
	width: 10px;
	background-color: #a4a4a4;
}

.container::-webkit-scrollbar-thumb {
	background-color: #a4a4a4;
}