.container {
    max-width: 1500px;
    padding: 10px;
}
    .main-layout {
        margin: 0;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-areas: "sidebar header"
            "sidebar details";
        .sidebar {
                grid-area: sidebar;
                height: 100vh;
                width: 25vw;
                padding: 1rem;
                box-sizing: border-box;
                overflow: hidden;
            }
        
            .header {
                grid-area: header;
                height: 25vh;
                width: 100%;
                padding: 1rem;
                box-sizing: border-box;
                overflow: hidden;
            }
        
            .details {
                grid-area: details;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                box-sizing: border-box;
                overflow: hidden;
            }
    }
.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(20px, 1fr);
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}