.main-layout {
	// overflow: hidden;
	// position: absolute;
	margin: 0;
	height: 100vh;
	width: 100%;
	display: grid;
	overflow-y: hidden;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'sidebar container'
		'sidebar container';
	// @include for-mobile-layout{
	// 	grid-template-areas:
	// 	'container container'
	// 	'sidebar sidebar';
	// }
	.side-bars {
		grid-area: sidebar;
		height: 100vh;
		width: 100%;
	}
	.container {
		grid-area: container;
		height: 100vh;
		width: 100%;
		overflow: auto;
		@include for-mobile-layout{
			height: calc(100vh - 66px);
		}
		.board-header-container {
			position: sticky;
			background-color: #fff;
			z-index: 5;
			width: 100%;
			height: 151px;
			@include for-mobile-layout {
				height: auto;
			}
			top: 0;
			left: 0;
		}

		.board-details {
			// height: 100%;
			width: 100%;
		}
		.board-details.dashboard {
			margin-top: 25px;
		}
		.board-details > .smooth-dnd-container.vertical {
			margin-block-start: 44px;
		}
	}
}
