.menu-modal {
	z-index: 100000;
	position: absolute;
	height: fit-content;
	width: fit-content;

	//need to set position and other prefs. at children cmp
	> * {
		z-index: 10000;
		background: $color-snow_white;
		box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
	}

	&.AddItemModal-style {
		position: absolute;
		top: 55px;
		left: 75px;

		&:hover {
			border-radius: 8px;
			background-color: $color-snow_white;
		}
	}
	&.MemberFilter-style {
		position: absolute;
		top: 55px;
		// left: 75px;
		translate: 50% 0;
		p {
			margin: 0;
		}
	}
	&.FilterModal-style {
		position: absolute;
		top: 55px;
	}

	.right-section {
		.clear-all {
			height: 100%;
			width: 75px;
			padding: 7.5px 0;
			text-align: center;
			cursor: pointer;

			&:hover {
				background-color: $brdr-clr;
			}

			border-radius: 0.4em;

			span {
				height: 100%;
				width: 100%;

				font-size: rem(14px);
			}
		}
	}

	.AddItemModal {
		width: 220px;
		top: 44px;
		left: 75px;
		border-radius: 8px;

		.item-title {
			align-items: center;
			gap: 0.5rem;

			svg {
				width: 16px;
			}
		}

		.modal-group {
			padding: 8px;
		}

		.modal-item {
			cursor: pointer;
			padding: 4px 8px;
			border-radius: 4px;
			width: 100%;
			margin: 0;

			&:hover {
				background-color: $color-btn-hover;
			}

			.title {
				font-size: rem(14px);
				margin: 0;
			}

			span {
				margin-right: 8px;
			}
		}
	}

	.MemberFilter {
		position: relative;
		max-width: 404px;
		min-width: 220px;
		max-height: 550px;
		padding: 16px;
		border-radius: 8px;

		.title {
			font-family: Figtree-reg;
			font-size: rem(15px);
			height: 32px;
			cursor: default;
		}

		.subtitle {
			font-size: rem(14px);
			margin-bottom: 16px;
			cursor: default;
		}

		.modal-group {
			align-items: flex-start;
		}

		.filter-user {
			cursor: pointer;
			// margin-top: 5px;
			width: 40px;
			height: 40px;

			display: flex;
			align-items: center;
			justify-content: center;

			&.selected {
				background-color: $color-btn-active;
				border-radius: 50%;
			}

			img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
	}

	.multi-filter-modal {
		top: 38px;
		left: 0px;
		border-radius: 8px;
		background-color: white;
		color: $color-txt-primary;
		width: fit-content;
		height: fit-content;
		max-width: 800px;
		font-size: 14px;
		padding: 0 24px 0;

		.multi-filter-header {
			padding: 16px 0;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 64px;

			.left-section {
				.title {
					font-size: rem(16px);
					display: inline;
				}

				span {
					font-size: rem(14px);
					margin-left: 8px;
				}
			}

			.right-section {
				.clear-all {
					height: 100%;
					width: 75px;
					padding: 7.5px 0;
					text-align: center;
					cursor: pointer;

					&:hover {
						background-color: $brdr-clr;
					}

					border-radius: 0.4em;

					span {
						height: 100%;
						width: 100%;

						font-size: rem(14px);
					}
				}
			}
		}

		.filter-area {
			padding: 8px 0 24px;

			.filter-area-title {
				display: flex;
				margin-bottom: 8px;
				align-items: center;

				h2 {
					display: flex;
					align-items: center;
					font-size: rem(14px);
					font-weight: 500;
					height: 26px;
				}
			}

			.filter-groups {
				display: grid;
				grid-auto-columns: 130px;
				grid-auto-flow: column;
				align-items: flex-start;
				overflow: auto;
				height: 240px;

				&::-webkit-scrollbar {
					height: 8px;
					padding-top: 10px;
				}
				&::-webkit-scrollbar-thumb {
					border-radius: 15px;
				}

				gap: 16px;

				.title {
					height: 34px;
					display: flex;
					align-items: center;
					margin-bottom: 4px;
				}

				.content {
					overflow-x: hidden;
					overflow-y: auto;
					max-height: 188px;
					gap: 6px;
					width: 100%;
					&::-webkit-scrollbar-track {
						background-color: transparent;
						opacity: 0;
					}
					&::-webkit-scrollbar {
						width: 6px;
						height: 10px;
						background-color: transparent;
					}
					&::-webkit-scrollbar-thumb {
						border-radius: 10px;
						background-color: #c3c6d4;
					}
				}
				.filter-col {
					width: 100%;
					flex-direction: column;
					.title {
						text-transform: capitalize;
						width: 100%;
						justify-content: flex-start;
					}
				}
				.filter-item {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 0 12px;
					min-height: 32px;
					cursor: pointer;
					border-radius: 4px;
					background-color: #f5f6f8;
					width: 100%;

					.filter-option {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						div,
						span {
							display: block;
							text-align: left;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
						.label-color {
							display: inline-block;
							width: 10px;
							height: 10px;
							border-radius: 50%;
							margin-right: 5px;
						}
					}
					.filter-counter {
						font-size: rem(12px);
						padding-left: 3px;
						color: #676879;
					}

					&:hover {
						background-color: #dcdfec;
					}
					&.person {
						.filter-option {
							display: grid;
							grid-template-columns: 28px 82px;
							width: 100%;
							img {
								width: 26px;
								height: 26px;
								border-radius: 50%;
								object-fit: cover;
								display: flex;
							}

							span {
								margin-left: 8px;
							}
						}
					}

					&.selected {
						background-color: $color-highlight_blue;
					}
				}
			}
		}
	}

	.modal-group {
		position: sticky;
		left: 36px;
	}

	.right-sec {
		display: flex;
		align-items: center;
		height: 100%;

		> * {
			width: 63px;
			height: 100%;
		}

		.close-modal-btn {
			cursor: pointer;
			border-left: 1px solid $brdr-clr;
		}

		.tasks-item {
			cursor: pointer;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.delete-tasks-btn {
				scale: 0.8;
				position: relative;
				top: 6px;
				fill: $clr-divider;
			}

			.duplicate-tasks-btn {
				scale: 0.65;
				position: relative;
				top: 6px;
				fill: $color-txt-primary;
			}

			.duplicate-txt {
				position: relative;
				bottom: 4px;
			}

			p {
				font-size: 13px;
				font-family: Figtree-reg;
				padding-bottom: 6px;
				color: $clr-divider;
				height: 30%;
			}
		}
	}
}
