.menu-modal {
	z-index: 100000;
	position: absolute;
	height: fit-content;
	width: fit-content;

	//need to set position and other prefs. at children cmp
	> * {
		z-index: 10000;
		background: $color-snow_white;
		box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
	}
	&.AddItemModal-style {
		position: absolute;
		top: 55px;
		left: 75px;

		&:hover {
			border-radius: 8px;
			background-color: $color-snow_white;
		}
	}

	.right-section {
		.clear-all {
			height: 100%;
			width: 75px;
			padding: 7.5px 0;
			text-align: center;
			cursor: pointer;

			&:hover {
				background-color: $brdr-clr;
			}

			border-radius: 0.4em;

			span {
				height: 100%;
				width: 100%;

				font-size: rem(14px);
			}
		}
	}

	.AddItemModal {
		width: 220px;
		top: 44px;
		left: 75px;
		border-radius: 8px;

		.item-title {
			align-items: center;
			gap: 0.5rem;

			svg {
				width: 16px;
			}
		}

		.modal-group {
			padding: 8px;
		}

		.modal-item {
			cursor: pointer;
			padding: 4px 8px;
			border-radius: 4px;
			width: 100%;
			margin: 0;

			&:hover {
				background-color: $color-btn-hover;
			}

			.title {
				font-size: rem(14px);
				margin: 0;
			}

			span {
				margin-right: 8px;
			}
		}
	}

	.right-sec {
		display: flex;
		align-items: center;
		height: 100%;

		> * {
			width: 63px;
			height: 100%;
		}

		.close-modal-btn {
			cursor: pointer;
			border-left: 1px solid $brdr-clr;
		}

		.tasks-item {
			cursor: pointer;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.delete-tasks-btn {
				scale: 0.8;
				position: relative;
				top: 6px;
				fill: $clr-divider;
			}

			.duplicate-tasks-btn {
				scale: 0.65;
				position: relative;
				top: 6px;
				fill: $color-txt-primary;
			}

			.duplicate-txt {
				position: relative;
				bottom: 4px;
			}

			p {
				font-size: 13px;
				font-family: roboto-light;
				padding-bottom: 6px;
				color: $clr-divider;
				height: 30%;
			}
		}
	}
}
