@font-face {
    font-family: Figtree-reg;
    src: url("../../fonts/Figtree/Figtree-VariableFont_wght.ttf");
}

@font-face {
    font-family: Figtree-Italic;
    src: url("../../fonts/Figtree/Figtree-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: ROBOTO-reg;
    src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: ROBOTO-bold;
    src: url("../../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: ROBOTO-medium;
    src: url("../../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Rubik-reg;
    src: url("../../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}

@font-face {
    font-family: Rubik-Italic;
    src: url("../../fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf");
}