$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//SIDE BAR
$clr-small-side-bar: #29304c;
$clr-divider: #676879;

//Tasks
$color-highlighted: #f5f6f8;
$task-font: ROBOTO;

// PRIORITY COLORS
$color-critical: #333333;
$color-high: #401694;
$color-medium: #5559df;
$color-low: #579bfc;

// STATUS COLORS
$color-working-on-it: #fdab3d;
$color-stuck: #e2445c;
$color-done: #00c875;
$color-empty-label: #c4c4c4;

// UI COLORS
$color-txt-primary: #323338;
$color-divider: #d0d4e4;
$color-this-month: #579bfc;
$color-this-month-light: #abcdfd;
$color-next-month: #a25ddc;
$color-next-month-light: #d0aeed;

$colors-list: #037f4c #9cd326 #cab641 #ffcb00 #ff642e #ffadad #ff7575 #bb3354 #ff158a #faa1f1 #a25ddc #784bd1 #7e3b8a #401694 #5559df #225091 #579bfc #4eccc6 #6cf #68a1bd #9aadbd #808080 #333 #7f5347 #d974b0 #ad967a #a1e3f6 #bd816e #2b76e5 #175a63 #bda8f9 #a9bee8 #9d99b9 #563e3e;

// @each $current-color in $colors-list {
//      $i: index($colors-list, $current-color);
//      $label-color-#{$i}: $current-color;
// }

// ;