.task:hover .add-users {
  opacity: 1;
}
.profile-div {
  position: relative;
  width: 100%;
  @include flex-center;
  .more-users {
    padding: 0px 5px;
    height: 25px;
    width: 25px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    position: relative;
    font-size: 12px;
    @include flex-center;
    // border: 2px solid $color-highlighted;
  }
  .add-users {
    opacity: 0;
    position: absolute;
    top: 3px;
    background-color: $primary-blue;
    font-size: 12px;
    padding: 2px;
    margin: 0px -6px;
    path {
      fill: $color-snow_white;
      // color: rgb(255, 255, 255);
    }
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 25px;
    translate: 50% 50%;
    font-weight: bold;
    text-align: center;
    @include flex-center;
    cursor: pointer;
  }
  img.default-img {
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-color: $color-highlighted;
    border-radius: 50%;
  }
  .modal {
    translate: 0;
    transform: translate(0);
    top: 34px;
    left: -73%;
    padding-block: 8px;
    width: fit-content;
    .modal-container {
      .added-user-list {
        padding: 8px 2px 0 16px;
        .added-users {
          flex-wrap: wrap;
          list-style: none;
          display: flex;
          margin: 0;
          padding: 0;
          li {
            padding: 0;
          }

          .item-wrapper {
            display: flex;

            .person-token {
              display: flex;
              align-items: center;
              border-radius: 24px;
              font-size: 12px;
              height: 22px;
              width: fit-content;
              margin: 4px;
              background: $apps-feature-preview-color;
              img {
                height: 22px;
                width: 22px;
                margin-inline-end: 4px;
              }
              .clear-btn {
                padding: 2px 4.5px;
                box-sizing: content-box;
                display: flex;
                svg {
                  margin: 0;
                }
              }
            }
          }
          .fullname {
            padding: 0;
          }
        }
      }
      .users-list {
        padding: 16px 16px 0 16px;
        .search-member:focus-within {
          border-color: $primary-blue;
        }
        .search-member {
          width: 320px;
          height: 32px;
          border: 1px solid $brdr-clr;
          display: flex;
          align-items: center;
          border-radius: 4px;
          padding: 8px 24px 8px 16px;
          &:hover {
            border-color: $color-txt-primary;
          }

          input {
            width: 100%;
            height: 100%;
            outline: 0;
            line-height: 22px;
            color: $color-txt-primary;
            border: none;
            border-color: $primary-blue;
            &:hover,
            &:focus {
              box-shadow: none;
            }
          }
        }
        ul {
          padding: 8px 0 0;
          color: $clr-divider;
          .suggested-users-container {
            max-height: 160px;
            overflow-y: scroll;
            li {
              color: $color-txt-primary;
              padding: 8px;
              align-items: center;
              height: em(40px);
              margin-block-end: 6px;
              gap: 6px;
              &:first-child {
                margin-block-start: 4px;
              }
              &:hover {
                background-color: $color-btn-hover;
                border-radius: 4px;
              }
            }

            .fullname {
              padding: 0 8px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
