.priority .modal {
  // top: 720%;
  top: 114%;
  p{
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
	.label-name{
		height: 30px;
	}
  }
//   span {
//     align-items: flex-end;
//     gap: 2px;
//   }
//   p {
//     height: 17px;
//     margin: 0;
//     padding: 0;
//   }
  .triangle {
    border-style: solid;
    border-width: 8px 6px 8px 0;
    position: absolute;
    transition: opacity 0.1s ease-in-out;
    border-color: transparent #ffffff transparent transparent;
    height: 16px;
    width: 6px;
    background-color: transparent;
    rotate: 90deg;
    top: -4%;
    right: 50%;
  }
}
