.status .modal {
	// top: 611%;
	top: 114%;
	.triangle{
		border-style: solid;
		border-width: 8px 6px 8px 0;
		position: absolute;
		transition: opacity 0.1s ease-in-out;
		border-color: transparent #ffffff transparent transparent;
		height: 16px;
		width: 6px;
		background-color: transparent;
		rotate: 90deg;
		top: -5.2%;
		right: 50%;
	}
}
.status,
.priority {
	// &:hover::after {
	// 	content: "+";
	// 	position: absolute;
	// 	right: 0;
	// 	top: 0;
	// 	translate: -50% -50%;
	// 	color: $group-header-clr;
	// 	width: 5px;
	// 	height: 5px;
	// }
	&:hover .folding-corner {
		position: absolute;
		right: 0;
		top: 0;
		transition: border-width .3s ease .2s;
		background-color: #f4f5f8;
		border-bottom: 10px solid rgba(0, 0, 0, .4);
		border-right: 10px solid transparent;
		&:hover {
			border-bottom: 15px solid rgba(0, 0, 0, .4);
			border-right: 15px solid transparent;
		}
	}
	position: relative;
	& .modal {
		// bottom: 0;
		// left: 50%;
		max-width: 200px;
		height: fit-content;
		& .modal-container {
			color: #323338;
			padding: 24px 24px 16px 24px;
			div {
				height: 100%;
				white-space: nowrap;
				border: 1px solid transparent;
				border-radius: 2px;
				padding: 0 4px;
				height: 32px;
				width: 152px;
				cursor: pointer;
				transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
				position: relative;
				margin-bottom: 8px;
				font-family: Figtree-reg;
			}
			p {
				color: #fff;
				margin: 0;
				line-height: 32px;
				text-align: center;
			}
		}
		.edit-labels {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 0 16px 8px 16px;
			.divider {
				width: 100%;
				background-color: #d0d4e4;
			}
			button {
				display: flex;
				align-items: center;
				gap: 5px;
				color: #323338;
				padding: 4px 8px;
				height: 32px;
				line-height: 24px;
				background-color: transparent;
				margin: 0;
				padding: 0;
			}
		}
	}
}

// $corner-color: #2196f3;
// $corner-animation-duration: 1s;
// $corner-animation-timing-function: ease-in-out;
// $corner-width: 10px;

// .container {
//      position: relative;
//      width: 200px;
//      height: 200px;
//      background-color: $corner-color;
//      overflow: hidden;
// }
// .status {
//      position: relative;
//      .folding-corner {
//                z-index: 2;
//                width: 0px;
//                height: 0px;
//                position: absolute;
//                top: 0px;
//                right: 0px;
//                opacity: 0;
//                border-width: 0;
//                border-style: solid;
//                background: rgba(0, 0, 0, 0.2);
//                display: block;
//                -webkit-transition: border-width 0.2s ease-out;
//                -moz-transition: border-width 0.2s ease-out;
//                -ms-transition: border-width 0.2s ease-out;
//                -o-transition: border-width 0.2s ease-out;
//                transition: border-width 0.2s ease-out;border-width: 0px 10px 10px 0px;

//      }
//      &:hover.folding-corner {
//           opacity: 0.9;

//           .fold {
//           }
//      }
// }

// @keyframes folding-animation {

//      0%,
//      100% {
//           opacity: 0;
//      }

//      50% {
//           opacity: 1;
//      }
// }

// @keyframes folding-corner-animation {

//      0%,
//      100% {
//           transform: translateY(100%) rotate(0deg);
//      }

//      50% {
//           transform: translateY(0) rotate(45deg);
//      }
// }
