.start-end-date-container {
	position: relative;
	.start-end-date {
		position: relative;
		box-shadow: unset !important;
		background-color: inherit;
		z-index: 2;
		*:not(button) {
			opacity: 0;
		}
	}
	.timeline-progress {
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		left: 0;
		top: 0;
		border-radius: 555px;

		&.date-not-set {
			background-color: lightgray;
		}
	}
}
