.start-end-date-container {
	position: relative;
	cursor: pointer;
	.start-end-date {
		position: relative;
		box-shadow: unset !important;
		background-color: inherit;
		z-index: 2;
		*:not(button,.timeline-progress) {
			opacity: 0;
		}
	}
	.timeline-text {
		color: white;
		text-align: center;
	}
	.timeline-progress, button, .timeline-text {
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		left: 0;
		top: 0;
		border-radius: 555px;
	}
	.timeline-progress {
		background-color: lightgray;
	}
}
